apipkg==1.4
attrs==18.1.0
enum34==1.1.6
execnet==1.5.0
lxml==4.2.1
more-itertools==4.1.0
namedlist==1.7
numpy==1.14.3
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.3
pytest==3.5.1
pytest-allure-adaptor==1.7.10
pytest-forked==0.2
pytest-xdist==1.22.2
six==1.11.0
