apipkg==1.5
atomicwrites==1.2.1
attrs==18.2.0
enum34==1.1.6
execnet==1.5.0
lxml==4.3.0
more-itertools==5.0.0
namedlist==1.7
numpy==1.16.0
pathlib2==2.3.3
pluggy==0.8.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
py==1.7.0
pytest==4.1.1
pytest-forked==1.0.1
pytest-xdist==1.26.1
six==1.12.0
